*{
    padding: 0%;
    margin: 0%;
}

#header{
    width: 2000px;
    height: 100px;
    background-image: linear-gradient(180deg,rgba(50, 54, 176, 0.852), rgb(134, 182, 255)); 
    
}

h1{
.jersey-25-regular; 
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 90px;
  color: rgb(209, 220, 255);
}

}

#h2{
    font-family:"Jersey 25", sans-serif;
    color: #fff;
}

#bot{
    background-color: rgba(0, 0, 0, 0.434);
    font-family: "Jersey 25", sans-serif;
    color: #fff;
}

body{
    background-image: linear-gradient(360deg,rgb(45, 50, 173), rgb(134, 182, 255));
    height:100vh;
}
